#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "friendica"
name = "Friendica"
description.en = "Decentralized Social Network"
description.fr = "Réseau social décentralisé"

version = "2024.12-1~ynh5"

maintainers = ["trendless"]

[upstream]
license = "AGPL-3.0-only"
website = "http://friendi.ca"
demo = "https://dir.friendica.social/servers"
admindoc = "https://github.com/friendica/friendica/wiki"
userdoc = "https://wiki.friendi.ca/"
code = "https://github.com/friendica/friendica"

[integration]
yunohost = ">= 11.2.18"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

ldap = true
sso = true

disk = "250M"
ram.build = "200M"
ram.runtime = "150M"

[install]
    [install.domain]
    type = "domain"

    [install.admin]
    type = "user"

    [install.language]
    ask.en = "Choose the application language"
    ask.fr = "Choisissez la langue de l'application"
    type = "select"
    choices = [ "de", "en", "es", "fr", "it", "pt" ]
    default = "en"

[resources]

    [resources.sources]
        [resources.sources.main]
        url = "https://github.com/friendica/friendica/archive/refs/tags/2024.12-1.tar.gz"
        sha256 = "44ab54499a66cd632761ce2734ca95afda0f192fd52906d1f9f3ef97d6a00ae0"
        autoupdate.strategy = "latest_github_release"

        [resources.sources.addons]
        url = "https://github.com/friendica/friendica-addons/archive/refs/tags/2024.12-1.tar.gz"
        sha256 = "f63cd7e3fa37d1c946f9bfef0783febfce29c8df26da464f7282cb6d0b15c1f6"
        autoupdate.upstream = "https://github.com/friendica/friendica-addons"
        autoupdate.strategy = "latest_github_tag"

        [resources.sources.bookface]
        url = "https://gitlab.com/randompenguin/bookface/-/archive/1.8.5/bookface-1.8.5.tar.gz"
        sha256 = "34a618b6b501552a67ba96f0f0161b788a34104b96a67dff9a6f24a9cba6e920"
        autoupdate.upstream = "https://gitlab.com/randompenguin/bookface"
        autoupdate.strategy = "latest_gitlab_release"
        autoupdate.asset = ".*\\.tar\\.gz"

[resources.system_user]

[resources.install_dir]
group = "www-data:r-x"

[resources.data_dir]
subdirs = ["storage"]
group = "www-data:rwx"

[resources.permissions]
main.url = "/"
main.show_tile = true
main.allowed = [ "visitors", "all_users" ]
main.protected = true

[resources.apt]
packages = ["mariadb-server", 
"php8.2-fpm",
"php8.2-imagick",
"php8.2-curl", 
"php8.2-mbstring", 
"php8.2-xml", 
"php8.2-zip", 
"php8.2-mysql", 
"php8.2-gd", 
"php8.2-gmp", 
"php8.2-intl", 
"php8.2-ldap", 
"php8.2-imap"]

[resources.database]
type = "mysql"
